body{
    background-color: aquamarine;
    font: inherit 20pt arial;
}
section{
    background-color: rgb(189, 184, 184);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(7, 2, 2);
}
header{
    text-align: center;
}
footer{
    text-align: center;
    font-style:unset;
   
}
#texto{
    font-size: 25px;
    font-style:initial;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
h1{
    font-style: oblique;
    color: rgb(223, 223, 223);
    text-align: center;
    text-shadow: 1px 1px black;
}
p{
    font-style: oblique;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}
div{
    text-align: center;
}